body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-grid{
    padding: 10;
    background-color:rgb(27, 51, 43);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

#popup {
    margin: 20px auto;
    padding: 10px;
    background-color:rgb(185, 194, 132);
    font-size: 18px;
}

#popup:hover {
    background-color:rgba(129, 165, 81, 0.733);
    transition: 3px;
}